html,
body,
#root,
#map-container {
  width: 100%;
  height: 100%;
  margin: 0;
}


.popup-title {
  font-weight: bold;
}

.popup-address {
  color: #444;
}

.marker-emoji {
  position: absolute;
  top: 6px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 15px;
}